Package: unfuddle-tracker
Priority: optional
Section: internet
Installed-Size: 3
Maintainer: unfuddle <contacts@crystalnix.com>
Architecture: amd64
Version: 0.1
Depends: libqtcore4, libqtgui4, libqt4-network, libqt4-xml
Description: Unfuddle Tracker
